* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

li {
  list-style-type: none;
}

:root {
  --yellow: #ffcc29;
  --blue: #1d539e;
  --gray: #828799;
  --page-background: #f9fbfc;

  --font: 'Open Sans', sans-serif;
}

body {
  margin: 0 auto;
  height: 100vh;
  background-color: var(--page-background);
}

header {
  height: 50%;
  position: relative;
  background-color: var(--blue);
  width: 100%;
  z-index: 0;
}

header h1 {
  color: var(--page-background);
  font-family: var(--font);
  font-weight: 700;
  font-size: 2rem;
  margin: 4rem auto 0.2rem auto;
}

.text {
  /* height: 50%; */
  align-items: center;
  display: flex;
  flex-direction: column;
}

header p {
  color: var(--page-background);
  font-family: var(--font);
  font-weight: 400;
  font-size: 1.12rem;
  width: 32rem;
  margin: 0 auto;
  text-align: center;
}

/* .planos {
  height: 50%;
  z-index: 99;
} */

/* ---------------------------------------------------------------------------------------------- */

.planos {
  display: flex;
  margin-top: -7rem;
  gap: 1.25rem;
  justify-content: center;
}

.container {
  /* padding: 3.625rem 2rem; */
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.215); /*colocar uma borda no card*/
  border-bottom: 1rem solid var(--base-color);
  border-radius: 0.5rem; /*borda redonda*/
  z-index: 99;
  background-color: var(--page-background);
  width: 16rem;
  height: 24rem;
  display: flex;
  flex-direction: column;

  transition: 0.5s;
}

.container:hover {
  transform: scale(1.05);
}

.body.card {
  padding: 0 1rem;
}

/* Header dos card --------------------------------------------------------------------------------------- */
.classPlano.destaque {
  background-color: #ffcc29;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  height: 4.75rem;
  border-radius: 0.5rem; /*borda redonda*/
}

.classPlano {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  height: 4.75rem;
  border-radius: 0.5rem; /*borda redonda*/
}

.classPlano.destaque h2,
.classPlano h2 {
  margin-left: 1rem;
  font-family: var(--font);
  font-weight: 600;
  font-size: 1.1rem;
  color: rgba(29, 83, 158, 1);
}

.popular.active {
  opacity: 0;
}



.popular {
  background-color: var(--blue);
  font-size: 0.75rem;
  margin-right: 1rem;
  font-family: var(--font);
  border-radius: 0.9rem; /*borda redonda*/
  padding: 0.3rem 1rem 0.3rem 1rem;
  color: var(--page-background);
  font-weight: 600;
}

/*  VALOR--------------------------------------------------------------------------------------- */

.valor {
  display: flex;
  align-items: flex-end;
}

.valor span {
  font-size: 1.15rem;
  align-items: center;
  margin-bottom: 0.3rem;
}

.valor .mes {
  color: rgba(130, 135, 153, 1);
  font-size: 1.12rem;
  margin-bottom: 0.3rem;
  margin-left: 0.2rem;

  font-weight: 400;
  font-family: var(--font);
}

.valor.plano {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font);
  align-items: flex-end;
}

/*  Info--------------------------------------------------------------------------------------- */

.info {
  font-weight: 400;
  font-family: var(--font);
  font-size: 0.8rem;
  color: rgba(130, 135, 153, 1);
  /* margin-bottom: 1rem; */
  margin-bottom: 0.8rem;
}

/*  Descriptios--------------------------------------------------------------------------------------- */

li {
  margin-bottom: 0.8rem;
}

.description {
  font-weight: 600;
  font-family: var(--font);
  font-size: 0.8rem;
  color: rgba(130, 135, 153, 1);
}

.icon-check {
  color: #59ce9f;
  margin-right: 0.5rem;
}

/*  BOTTON--------------------------------------------------------------------------------------- */

.container .button {
  background-color: var(--blue);
  position: relative;
  border-radius: 0.8rem; /*borda redonda*/
  display: block;
  margin-top: auto;
  margin-bottom: 2.5rem;
  margin-left: 1.87rem;
  margin-right: 1.87rem;
  transition: 0.3s;
}

.button:hover {
  background-color: #3169b8;
}

.button p {
  display: block;
  font-weight: 600;
  font-family: var(--font);
  color: var(--page-background);
  text-align: center;

  padding: 0.8rem;
}

@media (max-width: 700px) {
  body,
  html {
    width: 100vw;
    overflow: hidden;
  }

  header h1 {
    font-size: 1.6rem;
    margin: 5rem auto 0.2rem auto;
  }

  header p {
    font-size: 0.8rem;
    width: 18rem;
  }
  .planos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: auto;
    justify-content: flex-start;
    padding: 1rem 0;
  }

  .container:nth-child(1) {
    margin-left: 1.5rem;
  }
}

@media (min-height: 680px) {
  .planos {
    margin-top: -10rem;
  }
}
